.map h1{
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

.map{
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.access-info {
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

/* アクセス情報ブロックの上に余白を追加 */
.access-info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.access-info dt {
    margin-top: 20px;
}



.map iframe{
    display: block;
    width: 80%;
    height: 400px;
    margin-top: 25px;
}

/* --- アクセス情報の文字サイズ調整 --- */

/* 項目名（住所、など）の文字サイズ */
.access-info dt {
    font-size: 24px; /* 例：16ピクセル（標準サイズ）*/
}

/* 説明文（〒468...など）の文字サイズ */
.access-info dd {
    font-size: 20px; /* 例：14ピクセル（少し小さめ）*/
}

body {
    background-color: #f0f8ff; /* ← お好みの色を指定 */
}
